.modal-container {
	position: fixed;
	top: 0;
	bottom: 0;
	right: -60%; /* Adjust this value to control how much of the screen the modal covers */
	width: 60%; /* Adjust this value to control the width of the modal */
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 99999;
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.modal-container.active {
	transform: translateX(-40%);
}

.movie-info-main-container {
	position: relative;
	top: 0;
	display: flex;
	align-items: center;
}

.modal-thumbnail img {
	position: absolute;
	display: block;
	width: 100px;
	height: 140px;
	border-radius: 8px;
	margin-left: 17%;
	top: 30px;
}

.modal-title p {
	position: absolute;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: white;
	margin-top: 180px;
}

.movie-info-main {
	text-align: center;
	flex-grow: 1;
	width: 100%;
	flex-wrap: wrap;
}

.modal-container button {
	cursor: pointer;
	font-size: 16px;
	border: none;
	border-radius: 4px;
	padding: 10px 20px;
}

.modal-container button.close-button {
	position: absolute;
	display: flex;
	top: 10px;
	margin-left: 35%;
	background-color: transparent;
	color: white;
	font-weight: bold;
	z-index: 1001;
}

.movie-info-list {
	list-style-type: none;
	padding: 0;
}

.movie-info-container {
	position: absolute;
	display: block;
	font-size: 20px;
	color: rgb(255, 255, 255);
	margin-left: 10%;
	margin-top: 270px;
	padding-top: 0;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.movie-info-item {
	margin: 0 5px;
}

#movie-duration {
	margin-top: 20px;
}

#movie-release-year {
	margin-top: 10px;
}
#movie-director {
	margin-top: 10px;
}

.modal-container .button-container {
	position: absolute;
	display: flex;
	gap: 10px;
	margin-top: 230px;
	margin-left: 10%;
}

.modal-container .button-container button {
	color: white;
	padding: 10px 20px;
}

#youtube-button {
	background-color: #007bff;
	cursor: pointer;
}

#wikipedia-button {
	color: rgb(0, 3, 5);
	background-color: rgb(11, 19, 26);
}

.icon-button {
	display: flex;
	align-items: center;
}

.icon-button img {
	margin-right: 5px;
	width: 20px;
	height: 20px;
}

@media screen and (max-width: 1500px) {
	/*955px*/
	.modal-container {
		max-width: none;
		transform: translateX(50%);
	}

	.modal-thumbnail {
		padding-bottom: 20px;
	}
	.modal-thumbnail img {
		margin-left: 15%;
	}

	.modal-title {
		position: absolute;
		display: flex;
		word-wrap: break-word;
		top: 0;
		margin-left: 15%;
		padding-bottom: 10px;
	}

	.modal-container .button-container {
		flex-direction: column; /* Stack buttons vertically on smaller screens */
		margin-top: 270px;
		margin-left: 13%;
	}

	.modal-container button.close-button {
		margin-left: 35%;
	}

	.movie-info-container {
		font-size: 18px;
		margin-left: 13%;
		margin-top: 360px;
		padding-top: 10px;
	}
	.movie-info-list {
		list-style-type: none;
		padding: 0;
		position: absolute;
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 1070px) {
	.modal-container button.close-button {
		margin-left: 30%;
	}
}

@media screen and (max-width: 860px) {
	.modal-container {
		width: 70%;
	}
	.modal-container button.close-button {
		margin-left: 40%;
	}

	.modal-thumbnail {
		padding-bottom: 20px;
	}
	.modal-thumbnail img {
		margin-left: 19%;
	}
	.modal-title {
		margin-left: 19%;
	}

	.modal-title p {
		flex-direction: column;
	}
	.modal-container .button-container {
		flex-direction: column;
		margin-top: 280px;
		margin-left: 16%;
	}
	.movie-info-container {
		font-size: 18px;
		margin-left: 17%;
		margin-top: 360px;
		padding-top: 10px;
	}
	.movie-info-list {
		list-style-type: none;
		padding: 0;
		position: absolute;
		display: flex;
		flex-direction: column;
	}
}
@media screen and (max-width: 550px) {
	.modal-container button.close-button {
		margin-left: 40%;
	}
}
@media screen and (max-width: 480px) {
	.modal-container {
		width: 90%;
	}
	.modal-container button.close-button {
		margin-left: 60%;
	}
	.modal-thumbnail img {
		margin-left: 23%;
	}
	.modal-title {
		margin-left: 23%;
	}
	.modal-container .button-container {
		flex-direction: column;
		margin-left: 20%;
	}
	.movie-info-container {
		font-size: 18px;
		margin-left: 20%;
		margin-top: 360px;
		padding-top: 10px;
	}
}
